@import url('https://fonts.googleapis.com/css?family=Barlow');

html {
  font-size: 16px;
}

@media (max-width: 420px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Barlow,sans-serif;
}
