@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100wh;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    -webkit-linear-gradient(315deg, hsla(245.57, 94.26%, 43.9%, 1) 0%, hsla(245.57, 94.26%, 43.9%, 0) 70%),
    -webkit-linear-gradient(65deg, hsla(208.3, 85.19%, 42.84%, 1) 10%, hsla(208.3, 85.19%, 42.84%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(265.11, 94.91%, 45.66%, 1) 15%, hsla(265.11, 94.91%, 45.66%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(191.98, 93.06%, 42.29%, 1) 100%, hsla(191.98, 93.06%, 42.29%, 0) 70%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
